html,body{
  margin:0;
  background-image: url('background.gif');
  background-repeat: no-repeat;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#size, .button {
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding-right: 2%;
  text-align: center;
}

div#grids {
    display: grid;
    width: 50vw;
    height: 50vh;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    width: 480px;
    height: 480px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid ;
    background-color: white;
  }
  
  #grid {
    width: 7.5px;
    height: 7.5px;
    box-sizing: border-box;
  }
  
.slidecontainer {
    text-align: center;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 35%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:0 auto;
  }

#palette {
  flex-direction: row;
  display: flex;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  flex-direction: row;
  display: flex;
  width: 5em;
  height: 2em;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}


#size {
  margin: 0 auto;
  margin-top: 1%;
  width: 10%;
  text-align: center;
}